---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import escolar from '../../../assets/cards/inicio/escolar.jpg'
import universitario from '../../../assets/cards/inicio/universitario.jpg'
import bachillerato from '../../../assets/cards/inicio/bachillerato.jpg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty"><strong>Reforzamiento</strong></h2>
			<p class="pb-0 text-lg">
				Ofrecemos clases particulares diseñadas para fortalecer el aprendizaje en tres niveles educativos: <strong> bachillerato y universitario.</strong>, Contamos con profesores altamente calificados que brindan asesoría personalizada, ya sea de forma virtual o presencial, adaptándose a las necesidades de cada estudiante. </p>
			<p class="pb-0 text-lg">
				Nuestro servicio incluye refuerzo académico, apoyo con tareas y preparación para exámenes, todo desde S/. 20.00 por hora. Encuentra a los mejores docentes en Perú y potencia tu rendimiento académico con una educación de calidad.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Reforzamiento"
				negrita="Escolar"
				subtitle="Potencia tu aprendizaje fuera del aula. Una herramienta clave para consolidar y fortalecer lo aprendido, brindando apoyo adicional para alcanzar tus metas académicas."
				image={escolar}
				link="/servicio/escolar"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Reforzamiento"
				negrita="Universitario"
				subtitle="En cuanto a nivel universitario brindamos cursos generales como matemática financiera, matemática para ingenieros, física universitaria, química universitaria."
				image={universitario}
				link="/servicio/universitario"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">			
			<Card
				title="Reforzamiento"
				negrita="Bachillerato"
				subtitle="Nuestro programa de apoyo, nivelación y refuerzo para Bachillerato busca lograr un aprendizaje completo y eficaz en las materias impartidas, de manera integral para cada alumno."
				image={bachillerato}
				link="/servicio/bachillerato"
			/>
		</Col>
	</Row>
</Section>
