---
// Card
// ------------
// Description: the basic card foundation. Contains the background, shadow and border radius
// Properties:
// - link: will allow the whole card to be linkable
// - classes: extra classes

// Props
type Props = {
	link?: string
	classes?: string
}
const { link, classes } = Astro.props
---

{
	link ? (
		<a href={link} class:list={['card', { [`${classes}`]: classes }]}>
			<slot />
		</a>
	) : (
		<div class:list={['card', { [`${classes}`]: classes }]}>
			<slot />
		</div>
	)
}
<style>
	.card {
		@apply flex flex-col overflow-hidden rounded-lg border border-neutral-200 bg-white text-neutral-800 shadow-md shadow-neutral-300/50 
		dark:border-neutral-700 dark:bg-neutral-800 dark:text-neutral-100 dark:shadow-black/30 
		transition-colors duration-300 hover:border-primary-400 hover:shadow-lg hover:shadow-primary-100/50 dark:hover:shadow-primary-500/30;
	}
</style>
