---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
// - UI
import Hero from '../components/blocks/hero/HomeCTA.astro'
import Features from '../components/blocks/features/FeatureCards.astro'
import Carousel from '../components/blocks/carrusel/Carrusel'
import Cursos from '../components/blocks/features/FeatureSticky.astro'
import featuresData from '../data/json-files/featuresData.json'
const cursos = featuresData.filter((feature) => feature.category === 'Cursos')

// - SEO
const SEO = {
	title: 'GoTeacher | Mejor enseñansa',
	description:
		'GoTeacher Somos un grupo de egresados de la Universidad Nacional de Ingeniería que nos dedicamos a la enseñanza de las matemáticas buscando el desarrollo personal y profesional, brindamos conocimientos básicos y avanzados, dirigidos a estudiantes Escolares y Universitarios..'
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Carousel client:load />
	<Hero />
	<Features />	
	<Cursos
		title="GO Teacher"
		text="Te puede ayudar en diferentes materias de Matemáticas y Ciencias:"
		data={cursos}
	/>
	<div class="text-center mt-10">
		<button
		  type="button"
		  class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg transition"
		  data-modal-open="signup"
		>
		  Reserva tu clase ahora
		</button>
	  </div> 
</Layout>