---
import Layout from '../../layouts/Layout.astro'
import Banner from '../../components/blocks/servicio/Banner.astro'
import ListarServicio from '../../components/blocks/servicio/Servicio.astro'

export function getStaticPaths() {
  return [
    {params: {servicio: 'escolar'}},
    {params: {servicio: 'universitario'}},
    {params: {servicio: 'bachillerato'}},
  ];
}

const { servicio } = Astro.params;


// SEO
// Ejemplo en Astro: archivo [servicio].astro

const SEO = {
  title: `Reforzamiento ${(servicio.toUpperCase())} | Clases Particulares Personalizadas`,
  description: `Brindamos reforzamiento académico ${servicio === 'universitario' ? 'universitario con cursos como matemática financiera, física y química' : servicio === 'bachillerato' ? 'para bachillerato con enfoque integral en materias clave' : 'escolar para consolidar y fortalecer lo aprendido en clase'}. Ofrecemos clases particulares desde S/. 20.00 por hora, con docentes expertos que se adaptan a tus necesidades. Modalidad virtual o presencial.`,
};

---
<Layout title={SEO.title} description={SEO.description}>
  <section class="mx-auto max-w-screen-2xl px-4 md:px-8 mb-20">
    <Banner servicio={servicio} />
    <ListarServicio servicio={servicio} />
  </section>
</Layout>
