---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import Carousel from './Carrusel'

 // 🔹 Importar ClientOnly correctamente
// Importamos los datos del carrusel
---

<Section id="carousel" mode="dark" classes="dark:border-t border-y border-neutral-800">
  <Row>
    <Col span="12">
        <Carousel client:load  />
    </Col>
  </Row>
</Section>
