---
import servicioData from '../../../data/json-files/serviciosData.json'
import FAQ from '../../ui/CajaServicio.astro'
// Props
type Props = {
	servicio?: string
}
const { servicio } = Astro.props

const servicios = servicioData.filter((serv) => serv.servicio === servicio)

---
<!-- Image Grid -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
    {servicios.map((faq: any) => <FAQ title={faq.titulo} imagen={faq.img} sylabus={faq.sylabus} servicio={servicio} />)}
</div>