---
import { Icon } from 'astro-icon/components'

type Props = {
	title: string
	text: string
	desc?: string
	open?: boolean
	classes?: string
}

const {
	title = 'GoTeacher estrategía',
	text = 'Para alcanzar un aprendizaje significativo y sostenido, es fundamental implementar un conjunto de estrategias bien definidas que favorezcan tanto el desarrollo individual como el colectivo.',
	desc = '',
	open = false,
	classes
} = Astro.props
---

<details
	class:list={[
		'group border-s-4 border-green-500 bg-gray-50 dark:bg-neutral-900 p-6 [&_summary::-webkit-details-marker]:hidden',
		{ [`${classes}`]: classes }
	]}
	open={open ? true : undefined}
>
	<summary class="flex cursor-pointer items-center justify-between gap-1.5">
		<h2 class="text-lg font-semibold text-neutral-800 dark:text-white transition-colors duration-300">{title}</h2>
		<span class="shrink-0 rounded-full bg-white p-1.5 text-neutral-800 dark:bg-neutral-800 dark:text-white sm:p-3">
			<Icon
				name="plus"
				class="size-5 shrink-0 shadow-sm transition duration-300 group-open:-rotate-45"
			/>
		</span>
	</summary>

	<p class="mt-4 leading-relaxed text-neutral-700 dark:text-neutral-300">
		{text}
		<br />
		{desc}
	</p>
</details>

